# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/pnp.*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.yarn/versions

# Next.js build output and cache directories
/.next/
/out/
/build/

# Environment files
# Store sensitive API keys and secrets in these files.
# They should NOT be committed to version control.
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Local history for VS Code
.history
.vscode/
.idea/

# Testing and coverage reports
/coverage

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Misc
.DS_Store
Thumbs.db

/generated/prisma
